.review {
  padding: 10px;
  margin: 1px;
  /* background-color: rgb(255, 255, 255); */
  border-bottom: 1px solid slategray;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(1fr, auto));
  grid-template-rows: repeat(auto-fit, minmax(1fr, auto)); */
  grid-template-columns: 1fr minmax(auto, 10%);
  grid-template-rows: repeat(auto-fit, minmax(1fr, auto));
  width: 900px;
  background-color: rgb(255, 255, 255);
}

/* .review:hover {
  text-shadow: 1px 1px rgb(244, 247, 248);
  position: relative;
  top: -1px;
} */

.reviewRating {
  grid-row: 1;
  grid-column: 1 / 3;
  padding: 5px;
}

.reviewStar {
  font-size: large;
  display: inline;
  color: red;
}

.reviewUsername {
  position: relative;
  grid-row: 1;
  grid-column: 8;
  padding: 5px;
}

/* .reviewUserCheckmark {
  font-size: x-small;
  display: inline;
  position: relative;
  top: -2px;
} */

.reviewDate {
  font-size: small;
  grid-row: 1;
  grid-column: 9 / 11;
  padding: 5px;
  position: relative;
  top: 2px;
}

.reviewSummary {
  grid-row: 2;
  grid-column: 1 / 11;
  font-weight: bold;
  padding: 5px;
}

.reviewBody {
  grid-row: 3;
  grid-column: 1 / 11;
  padding: 5px;
  word-wrap: break-word;
}

.reviewRecommendCheckMark {
 /* grid-row: 4; */
 /* grid-column: 1; */
 display: inline;
 color: green;
 padding: 5px;
}

.reviewRecommend {
  display: inline;
  grid-row: 4;
  grid-column: 1 / 6;
  padding: 5px;
}

.reviewResponse {
  grid-row: 5;
  grid-column: 1 / 6;
}