.answer {
  /* border: 1px solid blue; */
  /* margin-top: 10px; */
  margin-bottom: 20px;
}

.answerinfo {
  /* border: 1px solid green; */
  color: rgb(80,80,80);
  margin-top: 8px;
  font-size: 12px;
}

/* .answerinfo > * {
  font-weight: 100;
} */

.divider {
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  padding-left: 7px;
  padding-right: 7px;
}

.answeruser {
  /* padding-right: 8px; */
  /* border-right: 2px solid black; */
}

.answerhelpful {
  /* border-left: 2px solid black;
  border-right: 2px solid black; */
  /* padding-right: 8px;
  padding-left: 8px; */
}

.helpfulbutton, .reportbutton {
  font-size: 12px;
  color: rgb(80,80,80);
}






