.QuestionsAndAnswers {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.QuestionsAndAnswers > * {
  /* border: 2px solid blue; */
}

button {
  cursor: pointer;
}

.questionbuttons {
  display: flex;
  flex-direction: row;
}

.questionbuttons > * {
  background: none;
  border: 1px solid black;
  font-weight: bold;
  margin-right: 20px;
  padding: 15px;
  border-radius: 5px;
}

.questionbuttons > *:hover {
  border: 1px solid rgb(76, 138, 138);
  background: rgb(76, 138, 138);
  color: white;
  box-shadow: 1px 1px 5px rgba(75, 58, 58, .5);
}

/* .form {
  display: flex;
  flex-direction: column;
}

.formelement {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form textarea {
  resize: vertical;
} */