.QuestionsAndAnswers {
  font-family: 'Montserrat', Arial, sans-serif;
  color:rgba(75, 58, 58);
  display: block;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  margin: auto;
  width: 90%;
  /* border: 3px solid green; */
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.QuestionsAndAnswers > * {
  /* border: 2px solid blue; */
}

button {
  cursor: pointer;
  color: rgba(75, 58, 58);
}

.questionbuttons {
  display: flex;
  flex-direction: row;
}

.questionbuttons > * {
  background: none;
  border: 1px solid black;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 5px;
  padding: 15px;
  border-radius: 5px;
}

.questionbuttons > *:hover {
  border: 1px solid rgb(76, 138, 138);
  background: rgb(76, 138, 138);
  color: white;
  box-shadow: 1px 1px 5px rgba(75, 58, 58, .5);
}
