.question {
  border-bottom: 1px solid slategray;
  /* display: grid; */
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
}

.info {
  overflow: hidden;
  flex-wrap: wrap;
  margin-bottom: 7px;
  /* word-break: break-word; */
}

.info > * {
  /* border: 2px solid pink; */
}

.questiontext {
  margin-left: 13px;
}

.buttons {
  float: right;
  font-size: small;
  /* display: flex;
  flex-direction: row; */
  /* align-items: center; */
}

button {
  font-size: small;
  border: none;
  background: none;
}

button:hover {
  color: rgb(76, 138, 138);
  /* font-weight: bold; */
}

.helpfulbutton, .addanswerbutton {
  padding: none;
}

.divider {
  padding-left: 5px;
  padding-right: 5px;
}
