.searchbox {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.input {
  background-color: transparent;
  /* border: 1px solid red; */
  border: 0;
  flex-grow: 1;
}

.button {
  background-color: transparent;
  /* border: 1px solid blue; */
  border: 0;
  flex-grow: 0;
}