.upperleft {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-start;
  color: rebeccapurple;
}

.upperleft:hover {
  color: forestgreen;
}

.upperLeft:hover {
  color: forestgreen;
}

.radio {
  display: none;
}

.nav {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-size: 200%;
  align-self: center;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: none;
}

.nav:hover {
  color: forestgreen;
}
