.upperleft {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-start;
  color: black;
}

.upperleft:hover {
  color: black;
  position: relative;
  top: -1px;
  box-shadow: 0px 1px rgb(221, 221, 221);
}

.upperLeft:hover {
  color: black;
  position: relative;
  top: -1px;
  box-shadow: 0px 1px rgb(221, 221, 221);
}

.radio {
  display: none;
}

.nav {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-size: 200%;
  align-self: center;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: none;
}

.nav:hover {
  color: black;
  position: relative;
  top: -1px;
  box-shadow: 0px 2px 2px 0px rgb(221, 221, 221);
}
