
.card {
  background-color: gainsboro;
  border: 2px solid black;
  min-height: 60vh;
  min-width: 25vh;
  max-height: 60vh;
  max-width: 25vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px;
  transition: .5s;
  margin: 1vh;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px grey, 0 4px 8px grey;
}

.pictureThumbnail {
  background-color: thistle;
  border: 2px solid black;
  max-height: 27vh;
  max-width: 21vh;
  min-height: 27vh;
  min-width: 21vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.cardInfo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 30%;
  position: relative;
  margin: 3%;
  position: relative;
}

.cardRating {
  unicode-bidi: bidi-override;
  color: rgb(207, 201, 201);
  font-size: 25px;
  height: 25%;
  width: 80%;
  position: relative;
  text-shadow: 0px 1px 0 lightgrey;
}

.cardRatingTop {
  color: orange;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cardRatingBottom {
  padding: 0;
  display: block;
  z-index: 0;
}
