.carosel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-height: 80vh;
  width: 90%;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 1vh;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: column;
  padding: 3vh;
  overflow: scroll;
}
