.relatedProducts {
  z-index: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: bold;
  width: fit-content;
}